@using XionIT.Models;
@model DashboardViewModel

@{
	ViewBag.Title = "Your Dashboard";
}

<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="@Url.Action("index", "Assets")">
					<h3 class="panel-title pull-left">Assets</h3>
				</a>
				<div class="pull-right">
					<a href="@Url.Action(@"create",@"Assets")" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-asterisk"></i> New</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills">
					<li><a href="#"><span class="badge">@Model.TotalAssets.Total</span> Total</a></li>
					<li><a href="#"><span class="badge">@Model.TotalAssets.ThisWeek</span> This Week</a></li>
					<li><a href="#"><span class="badge">@Model.TotalAssets.ThisMonth</span> This Month</a></li>
				</ul>
			</div>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.RecentAssets)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.Description</td>
							<td>@item.Created</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="@Url.Action("index", "People")">
					<h3 class="panel-title pull-left">People</h3>
				</a>
				<div class="pull-right">
					<a href="@Url.Action(@"create",@"People")" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-asterisk"></i> New</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills">
					<li><a href="#"><span class="badge">@Model.TotalPeople.Total</span> Total</a></li>
					<li><a href="#"><span class="badge">@Model.TotalPeople.ThisWeek</span> This Week</a></li>
					<li><a href="#"><span class="badge">@Model.TotalPeople.ThisMonth</span> This Month</a></li>
				</ul>

				<hr />

				<h4>Recent:</h4>

			</div>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.RecentPeople)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.Description</td>
							<td>@item.Created</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>

@section Scripts {

	<script>
		(function () {

			var rnd = function () { return Math.random() * 101 | 0; };



		})();
	</script>

}